* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header-container {
    color: #fff;
    background-color: #0000ff;
    padding: 20px 0;
    display: flex;
    justify-content: center;
}
.header {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: left;
}
.header-name {
    width: 900px;
    height: 200px;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 4em; 
    align-items: center;
}
.header-photo {
    display: flex;
    justify-content: right;
}
.header-photo.mobile,
.header-photo.tablet {
 display:none;
}
.links-container {
    display: flex;
    justify-content: center;
    height: 50px;
}
.links {
    display: flex;
    justify-content: space-around;
    font-size: 30px;
}
.contact,
.goals,
.menuitem {
    padding: 10px;
}
.content-container {
    display: flex;
    justify-content: center;
}
.content {
    border: 1px solid black;
    width: 1200px;
    display: flex;
    justify-content: space-around;
    background-color: #b0c4de;
    flex-direction: row;
    flex-wrap: wrap;
}
.content-box {
    padding: 10px;
    border: 1px solid black;
    width: 300px;
    height: 300px;
    align-items: center;
    box-shadow: inset 0 0 5px 5px grey;
}

.content-box h1 {
    align-items: center;
    font-size: 24px;
    text-align: center; 
}

@media only screen and (max-width: 501px) {
    .header {
        display: flex;
        flex-direction: column;
    }
    .footer {
        display: flex;
        justify-content: center;
    }    
    .links {
        display: flex;
        justify-content: space-evenly;
    }
    .header-photo.mobile {
        display:flex;
        justify-content: center;
    }
    .header-photo.desktop,
    .header-photo.tablet {
        display:none;
    }
    .header-name {
        display:flex;
        justify-content: center;
        font-size:35px;
        width:100%;    
    }
}
